<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASWAQ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ASWAQ.styles.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/Sheet.css" asp-append-version="true" />

    <style>
        @RenderSection("Main",false)
    </style>
    
</head>
<body>
    <div class="MainLayout">
        <header style="opacity:80%">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow bg-white  ">
                <div class="container-fluid">
                    <a class="navbar-brand Aswaq" asp-controller="@nameof(HomeController).Replace("Controller","")" asp-action="@nameof(HomeController.Index)"><h2>ASWAQ</h2></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">
                            <form>
                                <li class="nav-item">
                                    <input class="Serch_Input form-control" type="text" />
                                    <input class="btn btn-toolbar Serch_Submit" type="submit" value="Search" />
                                </li>

                            </form>

                            <partial name="_CartPartialView"></partial>

                        </ul>

                        <partial name="_UserStatePartialView"></partial>


                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted boorder" >
        <div class="container">
            @RenderSection("Footer",false)            
        </div>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



